# Dependencies
node_modules

# Next.js
.next/
out/
dist/

# Logs
*.log
npm-debug.log*

# Local env files
.env
.env.local
.env.production.local
.env.development.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
